<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script
      src="https://kit.fontawesome.com/9114e2d385.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Form</title>
  </head>
  <body>
    <div class="container">
      <i
        class="fa-regular fa-paper-plane"
        style="margin: 5px; font-size: 30px; color: #695cfe"
      ></i>
      <form action="/success" method="post">
        <input type="text" placeholder="Name" name="senderName" /><br />
        <input
          type="text"
          name="message"
          style="height: 50px; background-color: #dfdedeaf"
          placeholder="Message"
        /><br />
        <input type="submit" value="Submit Query " /><br />
      </form>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
